<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="https://i.ibb.co/GfrWySd2/logo.jpg" type="image/x-icon">
    <meta name="description" content="KinoHouse Антикинотеатр — страница бронирования билетов.">
    <title>KinoHouse — Бронирование</title>
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/bootstrap/css/bootstrap.min.css?rnd=1757616945654">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/theme/css/style.css?rnd=1757616945654">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/css/mbr-additional.css?rnd=1757616945654" type="text/css">
</head>
<body>
<section data-bs-version="5.1" class="menu menu2 cid-uWw5nqLeQi" once="menu" id="menu-5-uWw5nqLeQi">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="https://i.ibb.co/GfrWySd2/logo.jpg" alt="KinoHouse Logo" style="height: 4.3rem;">
                        </a>
                    </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">KinoHouse</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-black display-4" th:href="@{/films(promo=${promo})}">Фильмы</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" th:href="@{/about(promo=${promo})}">О нас</a></li>
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-primary display-4" href="https://t.me/kinohouse_support_bot">Поддержка</a>
                </div>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="form5 cid-uWw5nqOKH3" id="contact-form-3-uWw5nqOKH3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-5 display-2">
                    <strong>Бронирование</strong>
                </h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form th:action="@{/payment(promo=${promo},tariff=${tariff},totalPrice=${totalPrice})}" method="get">

                    <input type="hidden" name="promo" th:value="${promo}">
                    <input type="hidden" name="tariff" th:value="${tariff}">
                    <input type="hidden" name="totalPrice" th:value="${totalPrice}">

                    <div class="dragArea row">

                        <div class="col-12 form-group mb-3" data-for="name">
                            <input type="text" name="fullname" placeholder="ФИО" data-form-field="name" class="form-control" id="name-booking-form" required>
                        </div>

                        <div class="col-12 form-group mb-3" data-for="phone">
                            <input type="tel" name="phone" placeholder="Номер телефона" data-form-field="phone" class="form-control" id="phone-booking-form" required>
                        </div>

                        <div class="col-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" id="email-booking-form" required>
                        </div>

                        <div class="col-12 form-group mb-3" data-for="address">
                            <select name="address" data-form-field="address" class="form-control" id="address-booking-form" required>
                                <option value="">-- Выберите адрес --</option>
                                <th:block th:each="address : ${@addressRepository.findAllByPromo(promo)}">
                                    <option th:value="${address.addressName}" th:text="${address.addressName}"></option>
                                </th:block>
                            </select>
                        </div>

                        <!-- Кнопка для отправки формы -->
                        <div class="col-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Забронировать</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-uWw5nqPliR" once="footers" id="footer-3-uWw5nqPliR">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">© 2025 KinoHouse Антикинотеатр. Все права защищены.</p>
            </div>
        </div>
    </div>
</section>

<script src="https://r.mobirisesite.com/1820601/assets/web/assets/jquery/jquery.min.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/dropdown/js/navbar-dropdown.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/theme/js/script.js?rnd=1757616945655"></script>
<script src="https://r.mobirisesite.com/1820601/assets/formoid.min.js?rnd=1757616945655"></script>
</body>
</html>