<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="https://i.ibb.co/GfrWySd2/logo.jpg" type="image/x-icon">
    <meta name="description" content="KinoHouse Антикинотеатр — Погрузитесь в мир ретро-кино с оригинальным дизайном и удобной навигацией.">
    <title>KinoHouse Антикинотеатр</title>
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1757616945653">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/bootstrap/css/bootstrap.min.css?rnd=1757616945654">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/parallax/jarallax.css?rnd=1757616945654">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/dropdown/css/style.css?rnd=1757616945654">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/socicon/css/styles.css?rnd=1757616945654">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/theme/css/style.css?rnd=1757616945654">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/recaptcha.css?rnd=1757616945654">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/1820601/assets/css/mbr-additional.css?rnd=1757616945654" type="text/css">

    <style>
        .navbar-fixed-top {
            top: auto;
        }
        .gallery img {
            width: 100%;
            max-width: 300px;
            height: auto;
            display: none;
            margin: 10px;
        }
        .gallery img.active {
            display: block;
        }
    </style>
</head>
<body>
<section data-bs-version="5.1" class="menu menu2 cid-uWw5nqLeQi" once="menu" id="menu-5-uWw5nqLeQi">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="">
                            <img src="https://i.ibb.co/GfrWySd2/logo.jpg" alt="KinoHouse Logo" style="height: 4.3rem;">
                        </a>
                    </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">KinoHouse</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" th:href="@{/films(promo=${promo})}">Фильмы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" th:href="@{/about(promo=${promo})}">О нас</a>
                    </li>
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-primary display-4" href="https://t.me/kinohouse_support_bot">Поддержка</a>
                </div>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header16 cid-uWw5nqLxBy mbr-fullscreen mbr-parallax-background" id="hero-17-uWw5nqLxBy">
    <div class="container-fluid">
        <div class="row">
            <div class="content-wrap col-12 col-md-12">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                    <strong>KinoHouse: Антикинотеатр</strong>
                </h1>
                <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Погрузитесь в мир кино и уникальной атмосферы.</p>
                <div class="mbr-section-btn">
                    <a class="btn btn-white-outline display-7" th:href="@{/tarifs(promo=${promo})}">Выбрать тариф</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="article8 cid-uWw5nqNsfC" id="about-us-8-uWw5nqNsfC">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="image-wrapper d-flex justify-content-center mb-4">
                        <img src="https://static.tildacdn.com/tild3131-6237-4338-b661-353963653137/_7021.jpg" alt="KinoHouse">
                    </div>
                    <div class="card-content-text">
                        <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
                            <strong>О нашем антикинотеатре</strong>
                        </h3>
                        <div class="row card-box align-left">
                            <div class="item features-without-image col-12">
                                <div class="item-wrapper">
                                    <p class="mbr-text mbr-fonts-style display-7">KinoHouse — ваш портал в мир ретро-кино и уникальной атмосферы. Здесь время замедляется, а пленительные классические фильмы оживают на большом экране.</p>
                                </div>
                            </div>
                            <div class="item features-without-image col-12">
                                <div class="item-wrapper">
                                    <p class="mbr-text mbr-fonts-style display-7">Погрузитесь в уют интерьеров в стиле прошлого века, наслаждайтесь редкими лентами и неповторимым духом кинематографа, каким его любит настоящая публика.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery4 cid-uWw5nqMdNY" id="gallery-12-uWw5nqMdNY">
    <div class="container-fluid gallery-wrapper">
        <div class="row justify-content-center">
            <div class="col-12 content-head"></div>
        </div>
        <div class="grid-container">
            <div class="grid-container-1" style="transform: translate3d(-200px, 0px, 0px);">
                <div class="grid-item">
                    <img src="https://p2.zoon.ru/preview/2UG-NC6k0VzenERR1mZ0og/640x427x85/1/7/5/original_5d38ece5ea08b6189e19bada_65dc85b19194a2.00424077.jpg" alt="Photo 1" class="active">
                </div>
                <div class="grid-item">
                    <img src="https://babr24.com/n2p/i/2022/8/nuczfotu6aq_01000629_b.jpg" alt="Photo 2">
                </div>
                <div class="grid-item">
                    <img src="https://radi-love.com/wp-content/uploads/2021/05/antikinoteatr_2.jpg" alt="Photo 3">
                </div>
                <div class="grid-item">
                    <img src="https://radi-love.com/wp-content/uploads/2021/05/antikinoteatr_3.jpg" alt="Photo 4">
                </div>
            </div>
            <div class="grid-container-2" style="transform: translate3d(-70px, 0px, 0px);">
                <div class="grid-item">
                    <img src="https://p2.zoon.ru/preview/2UG-NC6k0VzenERR1mZ0og/640x427x85/1/7/5/original_5d38ece5ea08b6189e19bada_65dc85b19194a2.00424077.jpg" alt="Photo 1">
                </div>
                <div class="grid-item">
                    <img src="https://babr24.com/n2p/i/2022/8/nuczfotu6aq_01000629_b.jpg" alt="Photo 2">
                </div>
                <div class="grid-item">
                    <img src="https://radi-love.com/wp-content/uploads/2021/05/antikinoteatr_2.jpg" alt="Photo 3">
                </div>
                <div class="grid-item">
                    <img src="https://radi-love.com/wp-content/uploads/2021/05/antikinoteatr_3.jpg" alt="Photo 5">
                </div>
            </div>
        </div>
    </div>
    <script>
        let currentIndex = 0;
        const images = document.querySelectorAll('.grid-container img');
        setInterval(() => {
            images.forEach(img => img.classList.remove('active'));
            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].classList.add('active');
        }, 3000);
    </script>
</section>

<section data-bs-version="5.1" class="footer3 cid-uWw5nqPliR" once="footers" id="footer-3-uWw5nqPliR">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">© 2025 KinoHouse Антикинотеатр. Все права защищены.</p>
            </div>
        </div>
    </div>
</section>

<script src="https://r.mobirisesite.com/1820601/assets/web/assets/jquery/jquery.min.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/parallax/jarallax.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/smoothscroll/smooth-scroll.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/ytplayer/index.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/dropdown/js/navbar-dropdown.js?rnd=1757616945654"></script>
<script src="https://r.mobirisesite.com/1820601/assets/scrollgallery/scroll-gallery.js?rnd=1757616945655"></script>
<script src="https://r.mobirisesite.com/1820601/assets/vimeoplayer/player.js?rnd=1757616945655"></script>
<script src="https://r.mobirisesite.com/1820601/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1757616945655"></script>
<script src="https://r.mobirisesite.com/1820601/assets/theme/js/script.js?rnd=1757616945655"></script>
<script src="https://r.mobirisesite.com/1820601/assets/formoid.min.js?rnd=1757616945655"></script>
</body>
</html>